allow webview_zygote debugfs:dir search;
allow webview_zygote debugfs_tracing:dir search;
allow webview_zygote debugfs_tracing_debug:dir search;
allow webview_zygote debugfs_trace_marker:file w_file_perms;
